.btn-group {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.flag-icon {
  width: 20px;
  height: 15px;
  margin-right: 10px;
  vertical-align: middle;
}

.dropdown-menu {
  min-width: 200px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.dropdown-menu .disabled {
  color: gray;
  pointer-events: none;
  cursor: not-allowed;
}

.dropdown-menu .disabled a {
  color: rgb(90, 90, 90);
}

.dropdown-menu .disabled img {
  opacity: 0.5;
}
